In [102]:
from pool import AMMPoolHistory

In [103]:
# Define token0=USDC and token1=WETH
token0 = '0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48'
token1 = '0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2'

In [104]:
# Create an instance of AMMPoolHistory
feedlot = AMMPoolHistory(1000000000, 666666)

In [105]:
# instantiate Streamer object. 
# Note - unlike the cow queries, univ3 does not require multiple streamer instantations because the swaps field path is reset each iteration. 
# If the Cow queries were updated to use the same method, we could use the same streamer object for all queries.
univ3_ds = Streamer('https://api.thegraph.com/subgraphs/name/messari/uniswap-v3-ethereum')

# get a query field path from the query dictionary which is automatically populated in the Streamer object
swaps_fp = univ3_ds.queryDict.get('swaps')

# define query path and parameters 
uni_swaps_qp = uni_swaps_fp(
        first=100,
        orderBy='timestamp',
        orderDirection='desc',
        where = {'pool': '0x8ad599c3a0ff1de082011efddc58f1908eb6e6d8'} 
        )

# run query
uni_swaps_df = univ3_ds.runQuery(uni_swaps_qp)

FIELD - swaps

In [106]:
uni_swaps_df.shape

(100, 20)

In [107]:
uni_swaps_df.dtypes

swaps_id               object
swaps_hash             object
swaps_nonce             int64
swaps_logIndex          int64
swaps_gasLimit          int64
swaps_gasUsed          object
swaps_gasPrice          int64
swaps_protocol_id      object
swaps_account_id       object
swaps_pool_id          object
swaps_blockNumber       int64
swaps_timestamp         int64
swaps_tick              int64
swaps_tokenIn_id       object
swaps_amountIn         object
swaps_amountInUSD     float64
swaps_tokenOut_id      object
swaps_amountOut        object
swaps_amountOutUSD    float64
endpoint               object
dtype: object

In [108]:
uni_swaps_df.head(5)

,swaps_id,swaps_hash,swaps_nonce,swaps_logIndex,swaps_gasLimit,swaps_gasUsed,swaps_gasPrice,swaps_protocol_id,swaps_account_id,swaps_pool_id,swaps_blockNumber,swaps_timestamp,swaps_tick,swaps_tokenIn_id,swaps_amountIn,swaps_amountInUSD,swaps_tokenOut_id,swaps_amountOut,swaps_amountOutUSD,endpoint
0,0x23883e6c6ac99a8cef3a5c08437169f783a4a987d41a...,0x23883e6c6ac99a8cef3a5c08437169f783a4a987d41a...,473,257,206364,None,27390511152,0x1f98431c8ad98523631ae4a59f267346ea31f984,0x54cdaa42d26baaff6a47a94ce3e698b8486c8a75,0x8ad599c3a0ff1de082011efddc58f1908eb6e6d8,16797875,1678453091,203906,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,100000000,100.000000,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,71419286352534836,99.576194,uniswap-v3-ethereum
1,0xe847e6a14d2f9d513e863c80206040f7c1b4eac372bb...,0xe847e6a14d2f9d513e863c80206040f7c1b4eac372bb...,68,471,613095,None,25735715113,0x1f98431c8ad98523631ae4a59f267346ea31f984,0xb35a3ad484a39ccee2109f161927bf0434726d1f,0x8ad599c3a0ff1de082011efddc58f1908eb6e6d8,16797874,1678453079,203906,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,32894960555,32894.960555,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,23495759934039812765,32758.915093,uniswap-v3-ethereum
2,0xd53911de68a97149c5aa9bd537bc4f2b1cf64cbc1a15...,0xd53911de68a97149c5aa9bd537bc4f2b1cf64cbc1a15...,230,139,694187,None,27392227621,0x1f98431c8ad98523631ae4a59f267346ea31f984,0x752b6547734c389311fdb9b03a83c2bb4df9cadc,0x8ad599c3a0ff1de082011efddc58f1908eb6e6d8,16797873,1678453067,203908,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,60292337751,60292.337751,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,43077280788056724999,60060.410378,uniswap-v3-ethereum
3,0x3070b9cad064aa07f42709de210872ff16a807256c1b...,0x3070b9cad064aa07f42709de210872ff16a807256c1b...,52,343,760749,None,27463972900,0x1f98431c8ad98523631ae4a59f267346ea31f984,0x320c4cb39c3ef6dda036f740901b4edde7418e3b,0x8ad599c3a0ff1de082011efddc58f1908eb6e6d8,16797870,1678453031,203912,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,35178272670,35178.272670,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,25141419919364612919,35053.373152,uniswap-v3-ethereum
4,0xfb074eb45568c3c2e6c702c8c816e71023805abb21a5...,0xfb074eb45568c3c2e6c702c8c816e71023805abb21a5...,4531,17,136160,None,119825050332,0x1f98431c8ad98523631ae4a59f267346ea31f984,0x1cad683486c7c6f3a21d9a522e5d5cbb02d9c35e,0x8ad599c3a0ff1de082011efddc58f1908eb6e6d8,16797868,1678453007,203914,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,71054687500,71054.687500,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,50798600135812297678,70825.844041,uniswap-v3-ethereum

In [109]:
# Iterate through the rows of the dataframe
for index, row in uni_swaps_df.iterrows():
    # Determine if the swap is a buy or a sell
    token_in = row['swaps_tokenIn_id']
    token_out = row['swaps_tokenOut_id']
    is_buy = token_in == token0 and token_out == token1
    
    # Extract the amountIn, amountOut, and timestamp
    if is_buy:
        amt0 = row['swaps_amountIn']
        amt1 = row['swaps_amountOut']
    else:
        amt0 = row['swaps_amountOut']
        amt1 = row['swaps_amountIn']
    ts = row['swaps_timestamp']
    
    print('amt0', amt0)
    print('amt1', amt1)
    print('ts', ts)
    
    # Run the swap function on the AMM pool
    feedlot.swap(amt0, amt1, ts)

amt0 100000000
amt1 71419286352534836
ts 1678453091
amt0 32894960555
amt1 23495759934039812765
ts 1678453079
amt0 60292337751
amt1 43077280788056724999
ts 1678453067
amt0 35178272670
amt1 25141419919364612919
ts 1678453031
amt0 71054687500
amt1 50798600135812297678
ts 1678453007
amt0 7500000000
amt1 5363231636424684816
ts 1678452923
amt0 2500000000
amt1 1787799572202396074
ts 1678452575
amt0 5883065118
amt1 4207206393188076012
ts 1678452491
amt0 195762506
amt1 140000000000000000
ts 1678452419
amt0 50000000
amt1 35757586168083390
ts 1678452419
amt0 113993059883
amt1 81551406560264039131
ts 1678452407
amt0 3498774331
amt1 2519000000000000000
ts 1678451543
amt0 82344612324
amt1 59269449781100003328
ts 1678451507
amt0 579643854
amt1 417104019789389267
ts 1678451243
amt0 1398058804
amt1 1000000000000000000
ts 1678451231
amt0 10000000000
amt1 7153029000523748417
ts 1678451183
amt0 308000000
amt1 220320369630863646
ts 1678451171
amt0 157031250000
amt1 112383614627306608339
ts 1678451147
amt0 360264038259
amt1 258248917712879619841
ts 1678451135
amt0 335567649
amt1 240816564368957225
ts 1678450991
amt0 45000000000
amt1 32298344595924238715
ts 1678450979
amt0 35000000000
amt1 25127211036417623317
ts 1678450979
amt0 91589346384
amt1 65779855469946297347
ts 1678450955
amt0 438851635
amt1 315275711502856630
ts 1678450943
amt0 1106026987
amt1 794585459916004117
ts 1678450907
amt0 31372422659
amt1 22540680000000000000
ts 1678450871
amt0 300000000
amt1 215567449753485326
ts 1678450859
amt0 1395000000
amt1 1002393949690449951
ts 1678450847
amt0 105859375000
amt1 76092019085946846859
ts 1678450847
amt0 225000000
amt1 161784260019860537
ts 1678450823
amt0 212842917965
amt1 153144798077488305442
ts 1678450775
amt0 388926504
amt1 280027126579300096
ts 1678450763
amt0 65781250000
amt1 47372310754154599395
ts 1678450739
amt0 89911208700
amt1 64781022700525502725
ts 1678450715
amt0 334150293
amt1 242274218094820468
ts 1678449299
amt0 1387531656
amt1 1000000000000000000
ts 1678449251
amt0 70000000000
amt1 50450189039707328625
ts 1678449251
amt0 57737533
amt1 41612981106402368
ts 1678449215
amt0 10667623975
amt1 7688699392114040300
ts 1678449203
amt0 52421875000
amt1 37790581011403775055
ts 1678449191
amt0 114453125000
amt1 82551771555720715128
ts 1678449167
amt0 82851821835
amt1 59795730458591549011
ts 1678449155
amt0 176823976513
amt1 127721482376028400244
ts 1678449143
amt0 61210937500
amt1 44246306972467597945
ts 1678449131
amt0 6915584739
amt1 5000000000000000000
ts 1678449107
amt0 7624907318
amt1 5546068265676531818
ts 1678449095
amt0 315364184
amt1 228014963218268043
ts 1678449095
amt0 160000000
amt1 115677982952760664
ts 1678449059
amt0 150306417628
amt1 109272821895399997440
ts 1678448555
amt0 3000000000
amt1 2166927154196717640
ts 1678447895
amt0 2509947632
amt1 1812215293170647763
ts 1678447451
amt0 67682273338
amt1 49172133256570114117
ts 1678447451
amt0 258821268
amt1 188000000000000000
ts 1678447439
amt0 121483225669
amt1 88207895688108356391
ts 1678447427
amt0 64666196629
amt1 46926000000000000000
ts 1678447295
amt0 17741902962
amt1 12871334755577691104
ts 1678447223
amt0 62043793231
amt1 45000000000000000000
ts 1678447211
amt0 324602930
amt1 235386350837556622
ts 1678447199
amt0 68951180
amt1 50000000000000000
ts 1678447199
amt0 10178000000
amt1 7336600032864631693
ts 1678446551
amt0 1281508459
amt1 923781996250548752
ts 1678446503
amt0 267318475629
amt1 192860676435139280769
ts 1678446443
amt0 41992187500
amt1 30325329187777570735
ts 1678446431
amt0 52500000000
amt1 37924984116656097092
ts 1678446191
amt0 500000000
amt1 361250622831916613
ts 1678446179
amt0 33520000
amt1 24218201107151947
ts 1678446179
amt0 40064148744
amt1 28950149014685404913
ts 1678446167
amt0 314754252
amt1 227410921850319732
ts 1678446167
amt0 26300021544
amt1 19008229497230026852
ts 1678446143
amt0 5743582544
amt1 4151568578970516927
ts 1678446143
amt0 6604231871
amt1 4773847440811234404
ts 1678446131
amt0 89483648044
amt1 64702525525736926966
ts 1678446083
amt0 369391201
amt1 268779151806664344
ts 1678445975
amt0 3000000000
amt1 2169822447671553572
ts 1678445819
amt0 1000000000
amt1 723283255470999079
ts 1678445651
amt0 1106060028
amt1 800000000000000000
ts 1678445543
amt0 500000000
amt1 361645853253737013
ts 1678445519
amt0 129408866206
amt1 93638648490650781557
ts 1678445495
amt0 164779715
amt1 120000000000000000
ts 1678445327
amt0 97276003202
amt1 70818965991733094979
ts 1678445291
amt0 323663291
amt1 234150283436911869
ts 1678445195
amt0 11312346311
amt1 8232799974038418491
ts 1678445087
amt0 14054324864
amt1 10167147090955341441
ts 1678444955
amt0 11437163593
amt1 8274553220420629612
ts 1678444907
amt0 286142271734
amt1 208073624879799992320
ts 1678444859
amt0 259588007262
amt1 188418549232038492617
ts 1678444835
amt0 446514196656
amt1 323330363864345950651
ts 1678444811
amt0 2493712525
amt1 1792264722811172750
ts 1678444703
amt0 5932236558
amt1 4263698035622298564
ts 1678444523
amt0 125883784951
amt1 90985700520000000000
ts 1678444151
amt0 351377982550
amt1 253562399496403624986
ts 1678444127
amt0 132912215746
amt1 95757405101499990016
ts 1678444115
amt0 95395145615
amt1 68675645002602867053
ts 1678444067
amt0 458539132
amt1 330000000000000000
ts 1678444055
amt0 65279720455
amt1 46970000000000000000
ts 1678444043
amt0 834074378
amt1 600000000000000000
ts 1678444019
amt0 122642793738
amt1 88173372157587457826
ts 1678443995
amt0 695065527
amt1 500000000000000000
ts 1678443995
amt0 24220113007
amt1 17421450885424174210
ts 1678443995
amt0 178674222024
amt1 128327870146000011264
ts 1678443935

In [110]:
import pandas as pd
df = pd.DataFrame(feedlot.history)

In [111]:
df.shape

(101, 3)

In [112]:
df.head(5)

           ts      reserve0              reserve1
0           0    1000000000                666666
1  1678453091    1100000000     71419286353201502
2  1678453079   33994960555  23567179220393014267
3  1678453067   94287298306  66644460008449739266
4  1678453031  129465570976  91785879927814352185

In [125]:
from pool import CPMM, AMMPool, SwapRejectedError

In [126]:
feedlot_pool2 = AMMPool(1000000000, 666666)

In [127]:
feedlot2 = CPMM(feedlot_pool2)

In [128]:
# Iterate through the rows of the dataframe
for index, row in uni_swaps_df.iterrows():
    # Determine if the swap is a buy or a sell
    token_in = row['swaps_tokenIn_id']
    token_out = row['swaps_tokenOut_id']
    is_buy = token_in == token0 and token_out == token1
    
    # Extract the amountIn, amountOut, and timestamp
    if is_buy:
        amt0 = row['swaps_amountIn']
        amt1 = row['swaps_amountOut']
    else:
        amt0 = row['swaps_amountOut']
        amt1 = row['swaps_amountIn']
    ts = row['swaps_timestamp']
    
    print('amt0', amt0)
    print('amt1', amt1)
    print('ts', ts)
    
    # Run the swap function on the AMM pool
    try:
        feedlot2.swap_if(amt0, amt1)
    except SwapRejectedError as e:
        print(f"Skipping swap at index {index}. Error: {e}")
        continue

amt0 100000000
amt1 71419286352534836
ts 1678453091
amt0 32894960555
amt1 23495759934039812765
ts 1678453079
Skipping swap at index 1. Error: (32894960555, 23495759934039812765)
amt0 60292337751
amt1 43077280788056724999
ts 1678453067
Skipping swap at index 2. Error: (60292337751, 43077280788056724999)
amt0 35178272670
amt1 25141419919364612919
ts 1678453031
Skipping swap at index 3. Error: (35178272670, 25141419919364612919)
amt0 71054687500
amt1 50798600135812297678
ts 1678453007
Skipping swap at index 4. Error: (71054687500, 50798600135812297678)
amt0 7500000000
amt1 5363231636424684816
ts 1678452923
Skipping swap at index 5. Error: (7500000000, 5363231636424684816)
amt0 2500000000
amt1 1787799572202396074
ts 1678452575
Skipping swap at index 6. Error: (2500000000, 1787799572202396074)
amt0 5883065118
amt1 4207206393188076012
ts 1678452491
Skipping swap at index 7. Error: (5883065118, 4207206393188076012)
amt0 195762506
amt1 140000000000000000
ts 1678452419
Skipping swap at index 8. Error: (195762506, 140000000000000000)
amt0 50000000
amt1 35757586168083390
ts 1678452419
Skipping swap at index 9. Error: (50000000, 35757586168083390)
amt0 113993059883
amt1 81551406560264039131
ts 1678452407
Skipping swap at index 10. Error: (113993059883, 81551406560264039131)
amt0 3498774331
amt1 2519000000000000000
ts 1678451543
Skipping swap at index 11. Error: (3498774331, 2519000000000000000)
amt0 82344612324
amt1 59269449781100003328
ts 1678451507
Skipping swap at index 12. Error: (82344612324, 59269449781100003328)
amt0 579643854
amt1 417104019789389267
ts 1678451243
Skipping swap at index 13. Error: (579643854, 417104019789389267)
amt0 1398058804
amt1 1000000000000000000
ts 1678451231
Skipping swap at index 14. Error: (1398058804, 1000000000000000000)
amt0 10000000000
amt1 7153029000523748417
ts 1678451183
Skipping swap at index 15. Error: (10000000000, 7153029000523748417)
amt0 308000000
amt1 220320369630863646
ts 1678451171
Skipping swap at index 16. Error: (308000000, 220320369630863646)
amt0 157031250000
amt1 112383614627306608339
ts 1678451147
Skipping swap at index 17. Error: (157031250000, 112383614627306608339)
amt0 360264038259
amt1 258248917712879619841
ts 1678451135
Skipping swap at index 18. Error: (360264038259, 258248917712879619841)
amt0 335567649
amt1 240816564368957225
ts 1678450991
Skipping swap at index 19. Error: (335567649, 240816564368957225)
amt0 45000000000
amt1 32298344595924238715
ts 1678450979
Skipping swap at index 20. Error: (45000000000, 32298344595924238715)
amt0 35000000000
amt1 25127211036417623317
ts 1678450979
Skipping swap at index 21. Error: (35000000000, 25127211036417623317)
amt0 91589346384
amt1 65779855469946297347
ts 1678450955
Skipping swap at index 22. Error: (91589346384, 65779855469946297347)
amt0 438851635
amt1 315275711502856630
ts 1678450943
Skipping swap at index 23. Error: (438851635, 315275711502856630)
amt0 1106026987
amt1 794585459916004117
ts 1678450907
Skipping swap at index 24. Error: (1106026987, 794585459916004117)
amt0 31372422659
amt1 22540680000000000000
ts 1678450871
Skipping swap at index 25. Error: (31372422659, 22540680000000000000)
amt0 300000000
amt1 215567449753485326
ts 1678450859
Skipping swap at index 26. Error: (300000000, 215567449753485326)
amt0 1395000000
amt1 1002393949690449951
ts 1678450847
Skipping swap at index 27. Error: (1395000000, 1002393949690449951)
amt0 105859375000
amt1 76092019085946846859
ts 1678450847
Skipping swap at index 28. Error: (105859375000, 76092019085946846859)
amt0 225000000
amt1 161784260019860537
ts 1678450823
Skipping swap at index 29. Error: (225000000, 161784260019860537)
amt0 212842917965
amt1 153144798077488305442
ts 1678450775
Skipping swap at index 30. Error: (212842917965, 153144798077488305442)
amt0 388926504
amt1 280027126579300096
ts 1678450763
Skipping swap at index 31. Error: (388926504, 280027126579300096)
amt0 65781250000
amt1 47372310754154599395
ts 1678450739
Skipping swap at index 32. Error: (65781250000, 47372310754154599395)
amt0 89911208700
amt1 64781022700525502725
ts 1678450715
Skipping swap at index 33. Error: (89911208700, 64781022700525502725)
amt0 334150293
amt1 242274218094820468
ts 1678449299
Skipping swap at index 34. Error: (334150293, 242274218094820468)
amt0 1387531656
amt1 1000000000000000000
ts 1678449251
Skipping swap at index 35. Error: (1387531656, 1000000000000000000)
amt0 70000000000
amt1 50450189039707328625
ts 1678449251
Skipping swap at index 36. Error: (70000000000, 50450189039707328625)
amt0 57737533
amt1 41612981106402368
ts 1678449215
Skipping swap at index 37. Error: (57737533, 41612981106402368)
amt0 10667623975
amt1 7688699392114040300
ts 1678449203
Skipping swap at index 38. Error: (10667623975, 7688699392114040300)
amt0 52421875000
amt1 37790581011403775055
ts 1678449191
Skipping swap at index 39. Error: (52421875000, 37790581011403775055)
amt0 114453125000
amt1 82551771555720715128
ts 1678449167
Skipping swap at index 40. Error: (114453125000, 82551771555720715128)
amt0 82851821835
amt1 59795730458591549011
ts 1678449155
Skipping swap at index 41. Error: (82851821835, 59795730458591549011)
amt0 176823976513
amt1 127721482376028400244
ts 1678449143
Skipping swap at index 42. Error: (176823976513, 127721482376028400244)
amt0 61210937500
amt1 44246306972467597945
ts 1678449131
Skipping swap at index 43. Error: (61210937500, 44246306972467597945)
amt0 6915584739
amt1 5000000000000000000
ts 1678449107
Skipping swap at index 44. Error: (6915584739, 5000000000000000000)
amt0 7624907318
amt1 5546068265676531818
ts 1678449095
Skipping swap at index 45. Error: (7624907318, 5546068265676531818)
amt0 315364184
amt1 228014963218268043
ts 1678449095
Skipping swap at index 46. Error: (315364184, 228014963218268043)
amt0 160000000
amt1 115677982952760664
ts 1678449059
Skipping swap at index 47. Error: (160000000, 115677982952760664)
amt0 150306417628
amt1 109272821895399997440
ts 1678448555
Skipping swap at index 48. Error: (150306417628, 109272821895399997440)
amt0 3000000000
amt1 2166927154196717640
ts 1678447895
Skipping swap at index 49. Error: (3000000000, 2166927154196717640)
amt0 2509947632
amt1 1812215293170647763
ts 1678447451
Skipping swap at index 50. Error: (2509947632, 1812215293170647763)
amt0 67682273338
amt1 49172133256570114117
ts 1678447451
Skipping swap at index 51. Error: (67682273338, 49172133256570114117)
amt0 258821268
amt1 188000000000000000
ts 1678447439
Skipping swap at index 52. Error: (258821268, 188000000000000000)
amt0 121483225669
amt1 88207895688108356391
ts 1678447427
Skipping swap at index 53. Error: (121483225669, 88207895688108356391)
amt0 64666196629
amt1 46926000000000000000
ts 1678447295
Skipping swap at index 54. Error: (64666196629, 46926000000000000000)
amt0 17741902962
amt1 12871334755577691104
ts 1678447223
Skipping swap at index 55. Error: (17741902962, 12871334755577691104)
amt0 62043793231
amt1 45000000000000000000
ts 1678447211
Skipping swap at index 56. Error: (62043793231, 45000000000000000000)
amt0 324602930
amt1 235386350837556622
ts 1678447199
Skipping swap at index 57. Error: (324602930, 235386350837556622)
amt0 68951180
amt1 50000000000000000
ts 1678447199
Skipping swap at index 58. Error: (68951180, 50000000000000000)
amt0 10178000000
amt1 7336600032864631693
ts 1678446551
Skipping swap at index 59. Error: (10178000000, 7336600032864631693)
amt0 1281508459
amt1 923781996250548752
ts 1678446503
Skipping swap at index 60. Error: (1281508459, 923781996250548752)
amt0 267318475629
amt1 192860676435139280769
ts 1678446443
Skipping swap at index 61. Error: (267318475629, 192860676435139280769)
amt0 41992187500
amt1 30325329187777570735
ts 1678446431
Skipping swap at index 62. Error: (41992187500, 30325329187777570735)
amt0 52500000000
amt1 37924984116656097092
ts 1678446191
Skipping swap at index 63. Error: (52500000000, 37924984116656097092)
amt0 500000000
amt1 361250622831916613
ts 1678446179
Skipping swap at index 64. Error: (500000000, 361250622831916613)
amt0 33520000
amt1 24218201107151947
ts 1678446179
Skipping swap at index 65. Error: (33520000, 24218201107151947)
amt0 40064148744
amt1 28950149014685404913
ts 1678446167
Skipping swap at index 66. Error: (40064148744, 28950149014685404913)
amt0 314754252
amt1 227410921850319732
ts 1678446167
Skipping swap at index 67. Error: (314754252, 227410921850319732)
amt0 26300021544
amt1 19008229497230026852
ts 1678446143
Skipping swap at index 68. Error: (26300021544, 19008229497230026852)
amt0 5743582544
amt1 4151568578970516927
ts 1678446143
Skipping swap at index 69. Error: (5743582544, 4151568578970516927)
amt0 6604231871
amt1 4773847440811234404
ts 1678446131
Skipping swap at index 70. Error: (6604231871, 4773847440811234404)
amt0 89483648044
amt1 64702525525736926966
ts 1678446083
Skipping swap at index 71. Error: (89483648044, 64702525525736926966)
amt0 369391201
amt1 268779151806664344
ts 1678445975
Skipping swap at index 72. Error: (369391201, 268779151806664344)
amt0 3000000000
amt1 2169822447671553572
ts 1678445819
Skipping swap at index 73. Error: (3000000000, 2169822447671553572)
amt0 1000000000
amt1 723283255470999079
ts 1678445651
Skipping swap at index 74. Error: (1000000000, 723283255470999079)
amt0 1106060028
amt1 800000000000000000
ts 1678445543
Skipping swap at index 75. Error: (1106060028, 800000000000000000)
amt0 500000000
amt1 361645853253737013
ts 1678445519
Skipping swap at index 76. Error: (500000000, 361645853253737013)
amt0 129408866206
amt1 93638648490650781557
ts 1678445495
Skipping swap at index 77. Error: (129408866206, 93638648490650781557)
amt0 164779715
amt1 120000000000000000
ts 1678445327
Skipping swap at index 78. Error: (164779715, 120000000000000000)
amt0 97276003202
amt1 70818965991733094979
ts 1678445291
Skipping swap at index 79. Error: (97276003202, 70818965991733094979)
amt0 323663291
amt1 234150283436911869
ts 1678445195
Skipping swap at index 80. Error: (323663291, 234150283436911869)
amt0 11312346311
amt1 8232799974038418491
ts 1678445087
Skipping swap at index 81. Error: (11312346311, 8232799974038418491)
amt0 14054324864
amt1 10167147090955341441
ts 1678444955
Skipping swap at index 82. Error: (14054324864, 10167147090955341441)
amt0 11437163593
amt1 8274553220420629612
ts 1678444907
Skipping swap at index 83. Error: (11437163593, 8274553220420629612)
amt0 286142271734
amt1 208073624879799992320
ts 1678444859
Skipping swap at index 84. Error: (286142271734, 208073624879799992320)
amt0 259588007262
amt1 188418549232038492617
ts 1678444835
Skipping swap at index 85. Error: (259588007262, 188418549232038492617)
amt0 446514196656
amt1 323330363864345950651
ts 1678444811
Skipping swap at index 86. Error: (446514196656, 323330363864345950651)
amt0 2493712525
amt1 1792264722811172750
ts 1678444703
Skipping swap at index 87. Error: (2493712525, 1792264722811172750)
amt0 5932236558
amt1 4263698035622298564
ts 1678444523
Skipping swap at index 88. Error: (5932236558, 4263698035622298564)
amt0 125883784951
amt1 90985700520000000000
ts 1678444151
Skipping swap at index 89. Error: (125883784951, 90985700520000000000)
amt0 351377982550
amt1 253562399496403624986
ts 1678444127
Skipping swap at index 90. Error: (351377982550, 253562399496403624986)
amt0 132912215746
amt1 95757405101499990016
ts 1678444115
Skipping swap at index 91. Error: (132912215746, 95757405101499990016)
amt0 95395145615
amt1 68675645002602867053
ts 1678444067
Skipping swap at index 92. Error: (95395145615, 68675645002602867053)
amt0 458539132
amt1 330000000000000000
ts 1678444055
Skipping swap at index 93. Error: (458539132, 330000000000000000)
amt0 65279720455
amt1 46970000000000000000
ts 1678444043
Skipping swap at index 94. Error: (65279720455, 46970000000000000000)
amt0 834074378
amt1 600000000000000000
ts 1678444019
Skipping swap at index 95. Error: (834074378, 600000000000000000)
amt0 122642793738
amt1 88173372157587457826
ts 1678443995
Skipping swap at index 96. Error: (122642793738, 88173372157587457826)
amt0 695065527
amt1 500000000000000000
ts 1678443995
Skipping swap at index 97. Error: (695065527, 500000000000000000)
amt0 24220113007
amt1 17421450885424174210
ts 1678443995
Skipping swap at index 98. Error: (24220113007, 17421450885424174210)
amt0 178674222024
amt1 128327870146000011264
ts 1678443935
Skipping swap at index 99. Error: (178674222024, 128327870146000011264)

In [129]:
from pool import OraclePool, ConcLiquidityPool

In [132]:
cow_ds = Streamer('https://api.thegraph.com/subgraphs/name/cowprotocol/cow')

# get COW trades 

trades_fp = cow_ds.queryDict.get('trades')

# trades query path that gets token a -> token b trades
trades_qp = trades_fp(
    first=100,
    orderBy='timestamp',
    orderDirection='desc',
)

# run query
trades_df = cow_ds.runQuery(trades_qp)

FIELD - trades

In [136]:
# Set query size large enough to retrieve all tokens in the graph
query_size = 10000000

token_fp = cow_ds.queryDict.get('tokens')

# add parameters to the settlements_qp.
token_qp = token_fp(
    first=query_size,
)

# run query
token_df = cow_ds.runQuery(token_qp)

FIELD - tokens

In [137]:
# Merge1 on sell token address.  x = sell token 

merged_df = pd.merge(trades_df, token_df, left_on='trades_sellToken_id', right_on='tokens_address')

merged_df.shape

(100, 29)

In [138]:
# Merge2 on buy token address.  y = buy token 
merged_df2 = pd.merge(merged_df, token_df, left_on='trades_buyToken_id', right_on='tokens_address')

merged_df2.shape

(100, 42)

In [141]:
merged_df2.dtypes

trades_id                        object
trades_timestamp                  int64
trades_gasPrice                   int64
trades_feeAmount                 object
trades_txHash                    object
trades_settlement_id             object
trades_buyAmount                 object
trades_sellAmount                object
trades_sellToken_id              object
trades_buyToken_id               object
trades_order_id                  object
trades_buyAmountEth             float64
trades_sellAmountEth            float64
trades_buyAmountUsd             float64
trades_sellAmountUsd            float64
endpoint_x                       object
tokens_id_x                      object
tokens_address_x                 object
tokens_firstTradeTimestamp_x      int64
tokens_name_x                    object
tokens_symbol_x                  object
tokens_decimals_x                 int64
tokens_totalVolume_x             object
tokens_priceEth_x               float64
tokens_priceUsd_x               float64
tokens_numberOfTrades_x           int64
tokens_totalVolumeUsd_x         float64
tokens_totalVolumeEth_x         float64
endpoint_y                       object
tokens_id_y                      object
tokens_address_y                 object
tokens_firstTradeTimestamp_y      int64
tokens_name_y                    object
tokens_symbol_y                  object
tokens_decimals_y                 int64
tokens_totalVolume_y             object
tokens_priceEth_y               float64
tokens_priceUsd_y               float64
tokens_numberOfTrades_y           int64
tokens_totalVolumeUsd_y         float64
tokens_totalVolumeEth_y         float64
endpoint                         object
dtype: object

In [143]:
# calculate buy and sell amounts from the correct decimal 
merged_df2['sell_amount'] = merged_df2.apply(lambda x: x['trades_sellAmount'] / (10**x['tokens_decimals_x']), axis=1)
merged_df2['buy_amount'] = merged_df2.apply(lambda x: x['trades_buyAmount'] / (10**x['tokens_decimals_y']), axis=1)

In [144]:
# calculate COW price defined sell amount / buy amount
merged_df2['cow_price'] = merged_df2['sell_amount'] / merged_df2['buy_amount']

In [145]:
trades_df.shape

(100, 16)

In [146]:
trades_df.dtypes

trades_id                object
trades_timestamp          int64
trades_gasPrice           int64
trades_feeAmount         object
trades_txHash            object
trades_settlement_id     object
trades_buyAmount         object
trades_sellAmount        object
trades_sellToken_id      object
trades_buyToken_id       object
trades_order_id          object
trades_buyAmountEth     float64
trades_sellAmountEth    float64
trades_buyAmountUsd     float64
trades_sellAmountUsd    float64
endpoint                 object
dtype: object

In [147]:
trades_df.head(5)

,trades_id,trades_timestamp,trades_gasPrice,trades_feeAmount,trades_txHash,trades_settlement_id,trades_buyAmount,trades_sellAmount,trades_sellToken_id,trades_buyToken_id,trades_order_id,trades_buyAmountEth,trades_sellAmountEth,trades_buyAmountUsd,trades_sellAmountUsd,endpoint
0,0x940563fe8c36a0b818f5f41e71a756d125da60377a53...,1678458935,52656915134,13383492,0x30a507066278060b82635c8f1d87efd5ee279f30c274...,0x30a507066278060b82635c8f1d87efd5ee279f30c274...,2500000000000000000,3533439032,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,0xae7ab96520de3a18e5e111b5eaab095312d7fe84,0x940563fe8c36a0b818f5f41e71a756d125da60377a53...,2.486588,2.506184,3527.142976,3533.439032,cow
1,0x58ea281c54c1682a3ba4d52cef3d6256d6001f0a44c0...,1678458851,38639159693,6336404,0xd341daf7130b494890de0872c92d39975f24ea933815...,0xd341daf7130b494890de0872c92d39975f24ea933815...,32045823002673173109,45178163177,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,0x58ea281c54c1682a3ba4d52cef3d6256d6001f0a44c0...,32.045823,32.023112,45210.203208,45178.163177,cow
2,0x7cc00da7d055a1b1edf5ef931f4ac668a755908ca5d4...,1678458647,32293870288,18326816,0x6f4fb28f189238eed7a19696530a3153f5ec74864117...,0x6f4fb28f189238eed7a19696530a3153f5ec74864117...,50000000000000000000,70427096725,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,0xeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee,0x7cc00da7d055a1b1edf5ef931f4ac668a755908ca5d4...,50.000000,50.062459,70339.230867,70427.096725,cow
3,0x29eb91185739bb733208e21a60da9ab39619066cd1b3...,1678458575,32296464252,30519743,0xc02c1b02352fb24a7a47e13a38ad3fbc9072034bb886...,0xc02c1b02352fb24a7a47e13a38ad3fbc9072034bb886...,102231228440243807274890,10000000000,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,0xfd0205066521550d7d7ab19da8f72bb004b4c341,0x29eb91185739bb733208e21a60da9ab39619066cd1b3...,0.000000,7.108641,0.000000,10000.000000,cow
4,0xaeb2fa2021a18ed6c0a7c0533719e95cd993b353666f...,1678458467,30086460890,0,0x585f7e70d4cd736c99d8ae9b2a7ff362d5a51c6df492...,0x585f7e70d4cd736c99d8ae9b2a7ff362d5a51c6df492...,5006078639,5000500000,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,0xdac17f958d2ee523a2206206994597c13d831ec7,0xaeb2fa2021a18ed6c0a7c0533719e95cd993b353666f...,3.569258,3.565280,5006.078639,5000.500000,cow

In [ ]:
trades_df['sell_buy_ratio'] =

In [150]:
oracle_dict = merged_df2[['cow_price', 'trades_timestamp']].to_dict('records')

In [151]:
oracle_pool = OraclePool(pool, oracle_dict)