In [62]:
from pool import ConcLiquidityPool, AMMPoolHistory

In [63]:
# Define token0=USDC and token1=WETH
token0 = '0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48'
token1 = '0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2'

In [64]:
# Create an instance of AMMPoolHistory
feedlot = AMMPoolHistory(1000000000, 666666)

In [65]:
# instantiate Streamer object. 
# Note - unlike the cow queries, univ3 does not require multiple streamer instantations because the swaps field path is reset each iteration. 
# If the Cow queries were updated to use the same method, we could use the same streamer object for all queries.
univ3_ds = Streamer('https://api.thegraph.com/subgraphs/name/messari/uniswap-v3-ethereum')

# get a query field path from the query dictionary which is automatically populated in the Streamer object
swaps_fp = univ3_ds.queryDict.get('swaps')

# define query path and parameters 
uni_swaps_qp = uni_swaps_fp(
        first=100,
        orderBy='timestamp',
        orderDirection='desc',
        where = {'pool': '0x8ad599c3a0ff1de082011efddc58f1908eb6e6d8'} 
        )

# run query
uni_swaps_df = univ3_ds.runQuery(uni_swaps_qp)

FIELD - swaps

In [66]:
uni_swaps_df.shape

(100, 20)

In [67]:
uni_swaps_df.dtypes

swaps_id               object
swaps_hash             object
swaps_nonce             int64
swaps_logIndex          int64
swaps_gasLimit          int64
swaps_gasUsed          object
swaps_gasPrice          int64
swaps_protocol_id      object
swaps_account_id       object
swaps_pool_id          object
swaps_blockNumber       int64
swaps_timestamp         int64
swaps_tick              int64
swaps_tokenIn_id       object
swaps_amountIn         object
swaps_amountInUSD     float64
swaps_tokenOut_id      object
swaps_amountOut        object
swaps_amountOutUSD    float64
endpoint               object
dtype: object

In [68]:
uni_swaps_df.head(5)

,swaps_id,swaps_hash,swaps_nonce,swaps_logIndex,swaps_gasLimit,swaps_gasUsed,swaps_gasPrice,swaps_protocol_id,swaps_account_id,swaps_pool_id,swaps_blockNumber,swaps_timestamp,swaps_tick,swaps_tokenIn_id,swaps_amountIn,swaps_amountInUSD,swaps_tokenOut_id,swaps_amountOut,swaps_amountOutUSD,endpoint
0,0x818de833723e06792bde58a67b6a141363ae6cbc487b...,0x818de833723e06792bde58a67b6a141363ae6cbc487b...,342,224,405192,None,32295986143,0x1f98431c8ad98523631ae4a59f267346ea31f984,0xdfab649e190815705bae69e6db098a9778f2546b,0x8ad599c3a0ff1de082011efddc58f1908eb6e6d8,16793650,1678401371,203589,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,179600000000000000,258.799250,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,258022627,258.022627,uniswap-v3-ethereum
1,0xb2e89bf93a1bfa9943c0900bbce4f240f9ebc710cc08...,0xb2e89bf93a1bfa9943c0900bbce4f240f9ebc710cc08...,51,166,226974,None,34358586607,0x1f98431c8ad98523631ae4a59f267346ea31f984,0x875a24c5fcf88b7e9459c8808df61fe6ce36f7d8,0x8ad599c3a0ff1de082011efddc58f1908eb6e6d8,16793596,1678400723,203589,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,867942503293009175,1250.694680,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,1246937335,1246.937335,uniswap-v3-ethereum
2,0x234693646344db7b9bbef7f8631ff3899a9df04959d0...,0x234693646344db7b9bbef7f8631ff3899a9df04959d0...,1360,115,442851,None,36319399091,0x1f98431c8ad98523631ae4a59f267346ea31f984,0x71195ac7a1daa8e66d7b38c16860f69b7a20e797,0x8ad599c3a0ff1de082011efddc58f1908eb6e6d8,16793591,1678400663,203589,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,2000000000,2000.000000,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,1383782193831811975,1993.986546,uniswap-v3-ethereum
3,0x8ae8a6798da9064e4abb5748108cf1e7da59e0a76ba4...,0x8ae8a6798da9064e4abb5748108cf1e7da59e0a76ba4...,69,414,235834,None,36996584759,0x1f98431c8ad98523631ae4a59f267346ea31f984,0xa6506c76f771f35f28f860b0d0cfabaa0182f074,0x8ad599c3a0ff1de082011efddc58f1908eb6e6d8,16793577,1678400495,203589,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,278425981559450372,401.294344,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,400000000,400.000000,uniswap-v3-ethereum
4,0xcd693ecf4c1ccc4c8f37b46dab6e326e591284022cb6...,0xcd693ecf4c1ccc4c8f37b46dab6e326e591284022cb6...,304,258,246681,None,38879904045,0x1f98431c8ad98523631ae4a59f267346ea31f984,0x354304234329a8d2425965c647e701a72d3438e5,0x8ad599c3a0ff1de082011efddc58f1908eb6e6d8,16793575,1678400471,203589,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,22967547751179067432,33103.042160,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,33000000000,33000.000000,uniswap-v3-ethereum

In [69]:
# Iterate through the rows of the dataframe
for index, row in uni_swaps_df.iterrows():
    # Determine if the swap is a buy or a sell
    token_in = row['swaps_tokenIn_id']
    token_out = row['swaps_tokenOut_id']
    is_buy = token_in == token0 and token_out == token1
    
    # Extract the amountIn, amountOut, and timestamp
    if is_buy:
        amt0 = row['swaps_amountIn']
        amt1 = row['swaps_amountOut']
    else:
        amt0 = row['swaps_amountOut']
        amt1 = row['swaps_amountIn']
    ts = row['swaps_timestamp']
    
    print('amt0', amt0)
    print('amt1', amt1)
    print('ts', ts)
    
    # Run the swap function on the AMM pool
    pool.swap(amt0, amt1, ts)

amt0 258022627
amt1 179600000000000000
ts 1678401371
amt0 1246937335
amt1 867942503293009175
ts 1678400723
amt0 2000000000
amt1 1383782193831811975
ts 1678400663
amt0 400000000
amt1 278425981559450372
ts 1678400495
amt0 33000000000
amt1 22967547751179067432
ts 1678400471
amt0 215545708
amt1 150000000000000000
ts 1678400423
amt0 6246085223
amt1 4346606151980000005
ts 1678400387
amt0 574814386
amt1 400000000000000000
ts 1678400363
amt0 191356839794
amt1 133074390677642475941
ts 1678400351
amt0 123159376733
amt1 85557177230522164040
ts 1678400147
amt0 282974161522
amt1 196309063269300011008
ts 1678400135
amt0 449813902732
amt1 310355541162599124726
ts 1678400075
amt0 65050722
amt1 44950687752527101
ts 1678400003
amt0 6370000000
amt1 4401828024917012540
ts 1678399991
amt0 223890943917
amt1 154834356506680746084
ts 1678399979
amt0 171237374667
amt1 118581540866837481738
ts 1678399967
amt0 2999613889
amt1 2076005482150637634
ts 1678399967
amt0 40000000
amt1 27715937375235038
ts 1678399955
amt0 119335937500
amt1 82721022039525529005
ts 1678399955
amt0 1312942181
amt1 910473212673362807
ts 1678399931
amt0 4329694287
amt1 3002528102371651807
ts 1678399883
amt0 386120172
amt1 267768358285827269
ts 1678399847
amt0 195703125000
amt1 135807028088762449156
ts 1678399559
amt0 180090070258
amt1 125131260000367950049
ts 1678399547
amt0 10629429990
amt1 7434375000000000000
ts 1678398707
amt0 188181434268
amt1 131528084395392559927
ts 1678398683
amt0 5258353404
amt1 3672879173171709721
ts 1678398671
amt0 2647843082
amt1 1849422818869300000
ts 1678398647
amt0 429509483
amt1 300000000000000000
ts 1678398647
amt0 122864018680
amt1 85779589055055048211
ts 1678398635
amt0 378278909
amt1 263991529621691848
ts 1678398623
amt0 348526222132
amt1 242940686535200014336
ts 1678397819
amt0 17231172221
amt1 11925666837237971398
ts 1678397063
amt0 182359731952
amt1 126295925684377796094
ts 1678397015
amt0 103515625000
amt1 71760491510264105626
ts 1678397003
amt0 89905473946
amt1 62348121401488638340
ts 1678396847
amt0 1009376952
amt1 700000000000000000
ts 1678396715
amt0 120028701026
amt1 83273598407750910048
ts 1678396643
amt0 81484375000
amt1 56589742765940583956
ts 1678396595
amt0 49562500000
amt1 34405213008584019232
ts 1678396595
amt0 105468750000
amt1 73292854945602715850
ts 1678396583
amt0 193822861021
amt1 134831207079705348938
ts 1678396559
amt0 500000000
amt1 347589278358362928
ts 1678396559
amt0 1000000000
amt1 695175030692043212
ts 1678396559
amt0 214193386
amt1 150000000000000000
ts 1678396295
amt0 274887086023
amt1 192500000000000000000
ts 1678396283
amt0 157797178884
amt1 110500000000000000000
ts 1678396271
amt0 200070521994
amt1 140000000000000000000
ts 1678396259
amt0 4284197942
amt1 3000000000000000000
ts 1678396259
amt0 1430061869
amt1 1000000000000000000
ts 1678396235
amt0 185919355962
amt1 129925359979799986176
ts 1678396223
amt0 2004635458
amt1 1400000000000000000
ts 1678396211
amt0 926529044
amt1 647058830000000000
ts 1678396091
amt0 1217113389
amt1 850000000000000000
ts 1678396091
amt0 2445533717
amt1 1707864541943759104
ts 1678396091
amt0 2434312543
amt1 1700000000000000000
ts 1678396055
amt0 1366135746
amt1 954027395469225002
ts 1678396043
amt0 146355228725
amt1 101643207486554551071
ts 1678395983
amt0 103602486144
amt1 72012394386720061691
ts 1678395983
amt0 41985434397
amt1 29198805969563766922
ts 1678395971
amt0 418210347951
amt1 291307622971165917071
ts 1678395971
amt0 5000000000
amt1 3476694697457059674
ts 1678395971
amt0 159803131262
amt1 111534740503897204981
ts 1678395947
amt0 125390625000
amt1 87602907839747187625
ts 1678395923
amt0 2146069774
amt1 1500000000000000000
ts 1678395875
amt0 750000000
amt1 524208828134747074
ts 1678395875
amt0 15000000000
amt1 10484904051526874827
ts 1678395851
amt0 1000000000
amt1 699032324041000715
ts 1678395803
amt0 7140195660
amt1 5021203120048418180
ts 1678395779
amt0 318527201527
amt1 222896308655020948057
ts 1678395779
amt0 28546419449
amt1 20000000000000000000
ts 1678395767
amt0 647804780540
amt1 454995290801744379442
ts 1678395755
amt0 21719011709
amt1 15219278113369616481
ts 1678395755
amt0 714962948526
amt1 505177711055554977567
ts 1678395743
amt0 30657774895
amt1 21583840482467498035
ts 1678395743
amt0 169447099690
amt1 118792668575137743885
ts 1678395731
amt0 9998000000
amt1 7004844924190617121
ts 1678395731
amt0 8498245374
amt1 5961459837060900510
ts 1678395695
amt0 3000000000
amt1 2104562966123875146
ts 1678395683
amt0 500000000
amt1 350764750830306383
ts 1678395683
amt0 2850880483
amt1 2000000000000000000
ts 1678395671
amt0 143388484108
amt1 100643449977718297581
ts 1678395659
amt0 248434328341
amt1 174611662065729503370
ts 1678395647
amt0 162500000000
amt1 114376377156367823158
ts 1678395635
amt0 418441705276
amt1 296032144209176730413
ts 1678395587
amt0 380109804984
amt1 268167151138942790033
ts 1678395575
amt0 549461212264
amt1 385547008389809034595
ts 1678395551
amt0 126176405439
amt1 89200000000000000000
ts 1678395515
amt0 715068932724
amt1 504039515742227895251
ts 1678395503
amt0 634456493787
amt1 445126441622544617907
ts 1678395467
amt0 672527911010
amt1 469721725184329323040
ts 1678395443
amt0 272410354603
amt1 189654534517900017664
ts 1678395371
amt0 224538426562
amt1 156063182117221103524
ts 1678395347
amt0 30657774895
amt1 21290000000000000000
ts 1678395299
amt0 691277736
amt1 480000000000000000
ts 1678395287
amt0 432050238
amt1 300000000000000000
ts 1678395263
amt0 4320572302
amt1 3000000000000000000
ts 1678395263
amt0 8641526010
amt1 6000000000000000000
ts 1678395251
amt0 1008408972
amt1 700000000000000000
ts 1678395239
amt0 28808760022
amt1 20000000000000000000
ts 1678395239

In [70]:
import pandas as pd
df = pd.DataFrame(feedlot.history)

In [71]:
df.shape

(1, 3)